@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button, a{
  cursor: pointer;
}

a {
width: 24px;
}